*{
    box-sizing: border-box;
    font-family: verdana, sans-serif;
}
html, body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-size: 65.5%;
    overflow-X: hidden;
}
.primary-navigation{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1.5em;
    font-size: 2.5em;
}
/* @supports (backdrop-filter: blur(2rem)) {
    .primary-navigation{
        background: hsl(0 0% 0% / 0.75);
        backdrop-filter: blur(2rem);
    }
} */

a{
    text-decoration: none;
    color: white;
}
.nav-link{
    transition: 0.7s;
}
a:hover{
    text-decoration: underline white;
    color: rgb(5, 44, 44);
}
.hamburger{
    display: block;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.nav-banner{
    background-color:#4d9aad;
    width: 100%;
    height: 7%;
}
.banner h2{
    font-size: 1.5rem;
}
nav{
    margin-left: 9.5%;
    margin-right: 9%;
    display: flex;
    justify-content: space-between;
    color: white;
}
.project{
    width: 98%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.my-header{
    width: 33%;
    margin-left: 8.5%;
}
.project img{  
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 8%;
}
.project .my-header h2{
    font-size: 2.8rem;
    color: #4d9aad;
}
.project .my-header p{
    font-size: 1.8rem;
}
.section-2{
    width: 100%;
    background-color: #EBEBEB;
}
.project-wrapper{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.project-wrapper h2{
    width: 30%;
    font-size: 2.5rem;
    color: #4d9aad;
    margin: 4% 0 0 9.5%;
}
.project-wrapper button{
    background-color:  rgb(111, 195, 216);
    color: #fff;
    font-weight: 700;
    border:none;
    height: 3rem;
    border-radius: 2px;
    font-size: 1.5rem;
 
    margin-top: 4%;
    margin-right: 4%;
    margin-left: 4%;
    box-shadow: -2px 4px 5px rgb(186, 195, 204); 
}
.pics{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 20px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
 
}
.pics img{
    border-radius: 40px;
    width: 400px;
    height: 400px;
    padding: 20px;
}

.section-3{
    background-color:  #157293;
}
.info{
    width: 100%;
    background-color: #4d9aad;
}
.info-1{

    background-color: #4d9aad;
}
.interesting{
    display: flex;
    padding-top: 3%;
   
}
.interesting h3{
    width: 60%;
    margin-left: 12%;
    font-weight: 800;
    font-size: 2.5rem;
    color: white;
}
.interesting input{
    width: 10%;
    height: 30px;
    border: none;
    box-shadow: 3px 3px 5px #4d9aad;
    border-radius: 5px;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.interesting input:nth-child(2){
    background-color: #fff;
    color: #4d9aad;
}
.interesting input:nth-child(3){
    background-color:#157293;
    color: #fff;
}
.asset-1{
    float: right;
    margin-right: 9%;
}
.asset-2{
    margin-left: 9%;
}
.prompt-me{
    background-color: #157293;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.s-media{
    margin-top: 2%;
}
.s-media p{
    margin-top: 30px;
    font-size: 1.5rem;
}
.in{
    height:15px;
    width:15px;
}
.fb{
    height:15px;
    width:15px;
}
.ins{
    height:15px;
    width:15px;
}
.twt{
    margin-left: 8px;
    height:15px;
    width:15px;
}

/* .mobile-nav-toggle{
    display: none;
} */

/* Using max-width media query to target 414px, 768px and 1024px */


@media(min-width: 414px) {
    .hamburger{
        margin-top: 1.5rem;
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .primary-navigation{
        position: fixed;
        left: 100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background: hsl(0 0% 25% / 0.75);
        backdrop-filter: blur(1.5rem);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 10px 0;
    }
    .primary-navigation.active{
        left: 0;
    }
    /* .primary-navigation{
        position: fixed;
        inset: 0% 0% 0% 50%;
        --gap:2em;
        flex-direction: column;
        align-items:inherit;
        background: hsl(0 0% 25% / 0.75);
        backdrop-filter: blur(1.5rem);
        padding: min(30vh, 10rem);
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 500ms ease-out;
    }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    .mobile-nav-toggle{
        position: absolute;
        background-image: url(/assets/menu.svg);
        background-color:transparent;
        background-repeat: no-repeat;
        border: 0;
        width: 4rem;
        aspect-ratio: 1;
        top: .5rem;
        bottom: 1rem;
        right: 2rem;
        z-index: 9999;
        display: block;
    }
    .mobile-nav-toggle[aria-expanded = "true"] {
        background-image: url(/assets/close.svg);
    } */
    .nav-banner{
        height: 5.5rem;
    }
    .pics{
        display: block;
    }
    .pics img{
        width: 350px;
        height: 350px;
    }
    .info-1{
        display: block;
        width: 100%;
    }
    .project{
        display: block;
        width: 100%;
        align-content: center;
    }
    .section-2{
        padding-top: 3rem;
    }
    .project-wrapper{
        display: block;
    }
    .project-wrapper button{
        margin-left: 13%;
    }
    .project-wrapper h2{
        width: 80%;
        margin-left: 13%;
    }
    .asset-1, .asset-2{
        display: none;
    }
    .my-header{
        width: 80%;
        margin-left: 40px;        
    }
    .interesting{
        display: block;
    }
    .interesting h3{
        width: 80%;
    }
    .interesting input{
        margin-left: 12%;
        width: 12rem;
        margin-bottom: 5%;
    }
    .s-media{
        margin-top: 5%;
    }
}


@media (min-width: 768px){
    .nav-banner{
        height: 5.5rem;
    }
    .pics{
        display: block;
    }
    .pics img{
        width: 700px;
        height: 700px;
    }
    .info-1{
        display: block;
        width: 100%;
    }
    .project{
        display: block;
        width: 100%;
        align-content: center;
    }
    .project img{
        margin-left: 10%;
    }
    .project .my-header h2, p{
        margin-left: 3.5rem;
    }
    .project-wrapper{
        display: block;
    }
    .project-wrapper button{
        margin-left: 13%;
    }
    .project-wrapper h2{
        width: 80%;
        margin-left: 13%;
    }
    .asset-1, .asset-2{
        display: none;
    }
    .my-header{
        width: 80%;
        margin-left: 40px;        
    }
    .interesting{
        display: block;
    }
    .interesting input{
        width: 12rem;
    }
    .s-media p{
        margin-right: 4rem;
    }
}


@media (min-width:1024px){
    .primary-navigation{
        display:contents;
     }
     .hamburger{
        display: none;
     }
    /* .mobile-nav-toggle{
        display:none;
    } */
    .my-header{
        margin-left: 8rem;
    }
    .project{
        display: flex;
    }
    .project img{
        margin-right: 5rem;
    }
    .nav-banner{
        height: 4rem;
    }
    .project-wrapper{
        width: 100%;
        display: flex;
    }
    .project-wrapper button{
        width: 18rem;
        margin-right: 11rem;
    }
    .pics{
        display: flex;
        flex-wrap: wrap;
    }
    .pics img{
        border-radius: 40px;
        width: 300px;
        height: 300px;
        padding: 20px;
    }
    .interesting{
        display: flex;
    }
    .interesting input{
        width: 11rem;
    }
    .asset-1, .asset-2{
        display: block;
    }
    .s-media p{
        margin-right: 4rem;
    }
 }
    


